DIALECT =postgresql
DRIVER = asyncpg
PORT = 5432
POSTGRES_USER = postgres
POSTGRES_PASSWORD = admin
POSTGRES_DB = app_db

JWT_SECRET = 'mys08732'
JWT_ALGORITHM = HS256
JWT_EXPIRATION = 216000

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=$2a$12$LztVT05UMXaDjZaB23SKve75DL.i9b.FO/hGAF0ZbQk8phb/sri0u